<ion-header class="jojo-theme">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/stands"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes do Personagem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="jojo-theme characters-details">
  <ion-card *ngIf="character">
    <ion-card-content>
      <ion-img *ngIf="character">
        <ng-container *ngIf="isImageAvailable('assets/characters/' + character.name + '.webp')">
          <ion-img [src]="'assets/characters/' + character.name + '.webp'" alt="{{ character.name }}"></ion-img>
        </ng-container>
        <ng-container *ngIf="!isImageAvailable('assets/characters/' + character.name + '.webp') && isImageAvailable('assets/characters/' + character.name + '.jpg')">
          <ion-img [src]="'assets/characters/' + character.name + '.jpg'" alt="{{ character.name }}"></ion-img>
        </ng-container>
        <ng-container *ngIf="!isImageAvailable('assets/characters/' + character.name + '.webp') && !isImageAvailable('assets/characters/' + character.name + '.jpg') && isImageAvailable('assets/characters/' + character.name + '.png')">
          <ion-img [src]="'assets/characters/' + character.name + '.png'" alt="{{ character.name }}"></ion-img>
        </ng-container>
      </ion-img>
      <p><strong>Nome:</strong> {{ character.name }}</p>
      <p><strong>Nome Japonês:</strong> {{ character.japaneseName }}</p>
      <p><strong>Nacionalidade:</strong> {{ character.nationality }}</p>
      <p><strong>Família:</strong> {{ character.family }}</p>
      <p><strong>Capítulo:</strong> {{ character.chapter }}</p>
      <p><strong>Vivo:</strong> {{ character.living ? 'Sim' : 'Não' }}</p>
      <p><strong>É Humano:</strong> {{ character.isHuman ? 'Sim' : 'Não' }}</p>
      <p><strong>Habilidades:</strong> {{ character.abilities }}</p>
      <p><strong>Frase Marcante:</strong> {{ character.catchphrase }}</p>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="!character">Personagem não encontrado</ion-card>
</ion-content>
