/* Estilos para a página CharactersDetails */

/* Esquema de cores e fundo */
.characters-details-page {
    background-color: #483d8b; /* Azul escuro */
    color: #fff; /* Texto branco */
  }
  
  /* Título da página */
  .characters-details-page h1 {
    font-family: 'Arial', sans-serif; /* Fonte principal */
    font-size: 28px;
  }
  
  /* Card de detalhes do personagem */
  .characters-details-page .character-details-card {
    background-color: #6495ed; /* Azul claro */
    color: #fff;
    border: 2px solid #6495ed;
  }
  
  /* Hover no card */
  .characters-details-page .character-details-card:hover {
    background-color: #fff; /* Fundo branco ao passar o mouse */
    color: #6495ed; /* Texto azul claro ao passar o mouse */
  }
  