<ion-header class="jojo-theme">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/stands"></ion-back-button>
    </ion-buttons>
    <ion-title>Personagens</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="jojo-theme characters">
  <ion-searchbar [(ngModel)]="queryType" placeholder="Tipo de busca"></ion-searchbar>
  <ion-searchbar [(ngModel)]="queryValue" placeholder="Termo de busca" (ionChange)="searchCharactersByQuery()"></ion-searchbar>
  
  <ion-list *ngIf="characters && characters.length > 0">
    <ion-item class="characters-details" *ngFor="let character of characters" [routerLink]="['/characters-details', character.id]">
      {{ character.name }}
    </ion-item>
  </ion-list>
  
  <div *ngIf="!characters || characters.length === 0" class="jojo-text">
    Nenhum personagem encontrado.
  </div>
</ion-content>
