/* Estilos para CharactersPage */

/* Esquema de cores e fundo */
.characters-page {
    background-color: #191970; /* Azul escuro */
    color: #fff; /* Texto branco */
  }
  
  /* Títulos e texto */
  .characters-page h1 {
    font-family: 'Arial', sans-serif; /* Fonte principal */
    font-size: 32px;
  }
  
  /* Cards de personagens */
  .characters-page .character-card {
    background-color: #4169e1; /* Azul médio */
    color: #fff;
    border: 2px solid #4169e1;
  }
  
  /* Hover nos cards */
  .characters-page .character-card:hover {
    background-color: #fff; /* Fundo branco ao passar o mouse */
    color: #4169e1; /* Texto azul ao passar o mouse */
  }
  