.app-content {
    // Background e cores base
    background-color: #1f1f1f; /* Cor de fundo escura */
    color: #fff; /* Cor do texto */
  
    // Espaçamento e margens
    padding: 20px; /* Espaçamento interno */
    margin-top: 20px; /* Margem superior */
  
    // Estilizando elementos filhos
    ion-item {
      // Personalização para os itens
      color: #fff; /* Cor do texto nos itens */
    }
  
    // Estilizando componentes específicos
    .characters-details {
      // Estilos para detalhes dos personagens
      background-color: #3b3b3b; /* Cor de fundo para detalhes */
      padding: 15px; /* Espaçamento interno */
      border-radius: 5px; /* Borda arredondada */
      margin-bottom: 10px; /* Margem inferior */
    }
  
    .stands-details {
      // Estilos para detalhes dos stands
      background-color: #3b3b3b; /* Cor de fundo para detalhes */
      padding: 15px; /* Espaçamento interno */
      border-radius: 5px; /* Borda arredondada */
      margin-bottom: 10px; /* Margem inferior */
    }
  
    // Outros estilos conforme necessário
  }
  