/* Estilos para a página Home */

.home-page {
  background-color: #2f4f4f; /* Cinza azulado */
  color: #fff; /* Texto branco */

  h1 {
    font-family: 'Arial', sans-serif; /* Fonte principal */
    font-size: 36px;
  }

  ion-button {
    background-color: #d2691e; /* Marrom */
    color: #fff;
    border: 2px solid #d2691e;

    &:hover {
      background-color: #fff; /* Fundo branco ao passar o mouse */
      color: #d2691e; /* Texto marrom ao passar o mouse */
    }
  }
}
